html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bodyContent {
    font-size: 1.2em
}

#bodyContent h3 {
    font-family: monospace;
    font-size: 1.8em;
}

#descricaoComoPossoSerUtil {
    font-family: monospace;
    font-size: 1.5em;
}

#quemSouEu, #comopossoserUtilId, #experienciaId,
#descricaoQuemSouEu, #descricaoComoPossoSerUtil, #descricaoExperiencias {
    flex: 0 0 auto !important;
}

@media(max-width: 767px) {
    #descricaoComoPossoSerUtil {
        font-size: 1.2em;
    }
}